* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Muli", sans-serif;
  font-weight: 400;
  font-size: 0.9rem;
  line-height: 1.7;
  color: #000;

  padding: 2rem;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 80%;
  margin: auto;
}

.hungry {
  text-align: center;
}

.hungry h3 {
  font-size: 1.8rem;
  font-family: "Lemonada", cursive;
  margin-bottom: 0.5rem;
}

.hungry h4 {
  font-size: 1.5rem;
  font-weight: 400;
  color: gray;
  margin-bottom: 1rem;
}
